html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: var(--most-of-color-text);
  font-size: 14px;
  background-color: var(--background-light);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
/*Обнулення*/
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0;
  margin: 0;
  font-size: inherit;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

/*--------------------*/

button {
  border: none;
}
/* --------------------------- */
ul {
  list-style-type: none;
}

/* Скритий елемент сторінки */
.features .page-title,
.category-title,
.checkbox-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

a {
  text-decoration: none;
}
/* ----------Ширина-контенту---------------------- */
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

/* ---------Колір лого------------- */
:root {
  --brend-color: #0073ff;
  --most-of-color-text: #757575;
  /* ---------колір-тексту-світлий--- */
  --header-color-light: #ffffff;
  --title-light: #ffffff;
  --logo-light: #ffffff;

  /* ---------колір-тексту-темний--- */
  --header-color-dark: #212121;
  --title-dark: #212121;
  --logo-dark: #000000;

  /* ---------колір-фону-світлий--- */
  --background-light: #ffffff;
  --background-team-light: #f5f4fa;
  /* ---------колір-фону-темний--- */
  --background-dark: #2f303a;
  --background-team-dark: #2f303a;
  /* ---------transition--- */
  --transition-duration: 500ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* ---------header-padding-elements--------------- */
  --padding: 32px 0;
}

/* -------------page-title------------------------- */

.page-title {
  font-size: 36px;
  line-height: calc(42 / 36 * 100%);
  color: var(--title-dark);
  text-align: center;
  margin: 0 0 50px 0;
}
/* ------------------------------------------- */
.header {
  background-color: var(--header-color-light);
}

.header > .container {
  display: flex;
  align-items: center;
}
.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26 * 100%);
  text-decoration: none;
  color: var(--logo-dark);
}
.logo > .accent {
  color: var(--brend-color);
}
.header-menu {
  margin-left: 93px;
}
.header-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  row-gap: 20px;
}
.header-item {
  position: relative;
}
.header-link {
  font-weight: 500;
  display: inline-block;
  padding: var(--padding);
  line-height: calc(16 / 14 * 100%);
  letter-spacing: 0.02em;
  color: var(--header-color-dark);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.header-link:hover,
.header-link:focus {
  color: var(--brend-color);
}
.active {
  color: var(--brend-color);
}

.active::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--brend-color);
}
.header-address {
  padding: 0 0 0 20px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 25px;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.address-link {
  font-weight: 500;
  padding: var(--padding);
  line-height: calc(16 / 14 * 100%);
  letter-spacing: 0.02em;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.address-link:hover,
.address-link:focus {
  color: #2196f3;
}
/* -------svg------------------- */
.header-icon {
  margin-right: 10px;
  fill: #757575;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.header-icon.envelope {
  width: 16px;
  height: 12px;
}
.header-icon.smartphone {
  width: 10px;
  height: 16px;
}

.address-link:hover .header-icon,
.address-link:focus .header-icon {
  fill: #2196f3;
}
/* ---------------------------- */
.page {
  flex-grow: 1;
}

/* ------------hero---------------- */
.hero {
  background-color: #2f303a;
  display: block;
  background-image: url(../image/hero/Img\ Overlay.png),
    url(../image/hero/Img.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.hero .container {
  text-align: center;
  padding: 200px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44 * 100%);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-light);
  margin: 0 0 30px 0;
  max-width: 696px;
}
.hero_btn {
  display: flex;
  min-height: 50px;
  padding: 0 32px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 14 * 100%);
  letter-spacing: 0.06em;
  color: var(--background-light);
  background-color: var(--brend-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}
.hero_btn:hover,
.hero_btn:focus {
  background-color: #188ce8;
}
/* --------Модальне вікно------------ */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 3;
  pointer-events: fill;
  opacity: 1;
  transition: opacity var(--transition-duration)
      var(--transition-timing-function),
    transform var(--transition-duration) var(--transition-timing-function);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.is-hidden .modal {
  transform: translate(0%, 0%) scale(0.5);
}
.modal {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  /* top: 10%; */
  padding: 40px;
  max-width: 528px;
  border-radius: 4px;
  background-color: #ffffff;
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.modal_close {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: white;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(179, 179, 179, 0.582);
}
.close-svg {
  width: 30px;
  height: 30px;
}
.close-svg svg {
  width: 100%;
  height: 100%;
}
.form-text {
  text-align: center;
  color: var(--title-dark);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
/* -----inputs------ */
.modal-inputs {
  margin-bottom: 20px;
}

.modal-label {
  display: flex;
  flex-direction: column;
  color: #757575;
  font-size: 12px;
  letter-spacing: 0.12px;
  margin-bottom: 10px;
  position: relative;
}
.modal-label:hover .modal-input,
.modal-label:focus .modal-input {
  outline: 2px solid var(--brend-color);
}
.label-text {
  margin-bottom: 4px;
}
.modal-input {
  padding: 10px 0px 10px 35px;
  border-radius: 5px;
  background-color: white;
  border: none;
  outline: 1px solid var(--most-of-color-text);
}
.modal-input:hover,
.modal-input:focus {
  outline: 2px solid var(--brend-color);
}
.modal-input:hover + .input-svg, 
.modal-input:focus + .input-svg {
  fill: var(--brend-color);
}
.modal-textarea {
  border-radius: 5px;
  background-color: white;
  padding: 12px 16px;
  height: 120px;
  min-width: 100%;
  border: none;
  outline: 1px solid var(--most-of-color-text);
}
.modal-textarea:hover,
.modal-textarea :focus {
  outline: 2px solid var(--brend-color);
}

/* ---checkbox------------------------- */
.checkbox-label {
  display: flex;
  align-items: center;
}
.modal-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.modal-check {
  width: 0;
  height: 0;
  top: 0;
  left: 0; */
  visibility: hidden;
}


.castom-check{
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 10px;
  position: relative;
}
.castom-check::before {
  content: " ";
  position: absolute;
  border-radius: 4px;
  border: 2px solid #000;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.modal-check:checked + .castom-check::before{
  background-image: url(../image/svg/Vector\ \(1\).svg);
  background-color: var(--brend-color);
  border: none;
}
.checkbox-link {
  color: var(--brend-color);
  font-weight: 400;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  transition: text-shadow ease 0.2s;
  margin-left: 4px;
}

.checkbox-link:hover {
  text-shadow: 0.3px 0.3px 0.5px var(--brend-color), -0.3px -0.3px 0.5px var(--brend-color);
}

/* --input-svg--------------- */
.input-svg {
  width: 18px;
  height: 18px;
  position: absolute;
  bottom: 0;
  left: 12px;
  transform: translate(-0%, -50%);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.input-svg svg{
  width: 100%;
  height: 100%;
}

/* ---------- */
.form-button {
  display: flex;
  min-height: 50px;
  margin: 0 auto;
  padding: 0 52px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 14 * 100%);
  letter-spacing: 0.06em;
  color: var(--background-light);
  background-color: var(--brend-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.form-button:hover,
.form-button:focus {
  background-color: #188ce8;
}
/* ---------------------------- */
.features {
  padding: 94px 0;
}
.features-list {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
  row-gap: 50px;
}

.features-item {
  padding: 0 15px;
  flex: 0 1 25%;
}

.features-icon-block {
  background-color: #f5f4fa;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.features-icon {
  width: 70px;
  height: 70px;
}

.features-item-title {
  font-weight: 700;
  line-height: calc(16 / 14 * 100%);
  text-transform: uppercase;
  color: var(--title-dark);
  margin-top: 30px;
  margin-bottom: 10px;
}
.features-item > p {
  font-weight: 400;
  line-height: 24px;
}

/* -------------box--------------- */
.box {
  padding: 0 0 94px 0;
}
.box-list {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 30px;
}
.box-item {
  padding: 0 15px;
}

.box-item-image {
  position: relative;
}
.box-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box-item-text {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--title-light);
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
  background-color: rgba(47, 48, 58, 0.8);
}
/* ------------team---------------- */
.team {
  background-color: var(--background-team-light);
  padding: 94px 0;
}
.team-list {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 30px;
}
.team-item {
  padding: 0 15px;
}
.team-column {
  background-color: var(--background-light);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding: 0 0 30px;
  text-align: center;
}
.team-image {
  display: block;
  height: 260px;
  background-color: var(--most-of-color-text);
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16 * 100%);
  color: var(--title-dark);
  margin: 30px 0 10px 0;
}

.team-column > p {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16 * 100%);
}
.team-column > p:not(:last-child) {
  margin-bottom: 25px;
}

/* .team-list-social {
} */
.social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.social-item {
  width: 44px;
  height: 44px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 50%;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}
.social-link:hover,
.social-link:focus {
  background-color: #2196f3;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #ffffff;
}
/* --------------------Portfolio--------------------------------------------- */
.category {
  padding: 94px 0;
}
/* .category-title {
} */
.category-btn {
  margin: 0 0 50px 0;
}
.btn-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  row-gap: 8px;
  flex-wrap: wrap;
}
/* .btn-item {
} */
.btn {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16 * 100%);
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
}

.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* ----------------------- */
.category-columns {
  display: flex;
  margin: 0 -15px;
  row-gap: 30px;
  flex-wrap: wrap;
}
/* .category-column {
} */
.column {
  padding: 0 15px;
  flex: 0 1 33.33333333%;
  min-width: 370px;
  display: flex;
}
/* --------- */
.column-link {
  display: flex;
  flex-direction: column;
}

.column-image {
  display: block;
  max-width: 100%;
}
.category-column-active {
  position: relative;
  overflow: hidden;
}
.category-column-active::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: top var(--transition-duration) var(--transition-timing-function);
}
.column-link:hover .category-column-active::after {
  top: 0;
}
.category-column-active > p {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 63px 24px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: calc(28 / 18 * 100%);
  letter-spacing: 0.54px;
  z-index: 2;
  transition: top var(--transition-duration) var(--transition-timing-function);
}
.column-link:hover .category-column-active > p {
  top: 0;
}
.column-text {
  padding: 20px 24px;
  border: 1px solid #eee;
  border-top: none;
  flex: 1 1 auto;
  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);
}
.column-link:hover .column-text {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.column-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18 * 100%);
  letter-spacing: 0.06em;
  color: var(--header-color-dark);
}
.column-subtitle {
  font-size: 16px;
  line-height: calc(30 / 16 * 100%);
  color: var(--most-of-color-text);
}

/* ---------------------------- */
.clients {
  padding: 94px 0;
}

.clients-columns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 -15px;
  gap: 30px;
}
/* .clients-column {
} */
.clients-link {
  border-radius: 4px;
  border: 1px solid #afb1b8;
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border var(--transition-duration)
    var(--transition-timing-function);
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid #2196f3;
}
.clients-icon {
  fill: #afb1b8;
  transition: fill var(--transition-duration) var(--transition-timing-function);
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: #2196f3;
}

/* ---------------------------- */
.footer {
  background-color: #2f303a;
  padding: 60px 0 90px 0;
}
.footer > .container {
  display: flex;
}
.footer .logo {
  margin: 0 0 20px 0;
}

.footer-address > p {
  font-weight: 400;
  line-height: calc(24 / 14 * 100%);
  color: #ffffff;
}
.footer-address > p:not(:last-child) {
  margin: 0 0 9px 0;
}
.footer-address > a {
  display: block;
  font-weight: 400;
  color: inherit;
  line-height: calc(24 / 14 * 100%);
}
.footer-address > a:not(:last-child) {
  margin: 0 0 9px 0;
}

.footer-column-social {
  margin-left: 70px;
}
.footer-title {
  margin: 11px 0 20px 0;
  color: var(--title-light);
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.footer-social-list {
  display: flex;
}
.icon-footer {
  fill: #ffffff;
}
/* --------------------------- */
.footer-column-input {
  margin-left: 93px;
}


